:root {
    --headerFirstColour: red;
    --headerLastColour: yellow;
    --blinkBorderColour: red;
    --winnerTextColour: red;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;

    overflow: hidden;
    background-color: white;
    user-select: none;
}

#header {
    display: flex;
    align-items: center;

    height: 50px;
    margin-top: 0;
    margin-bottom: 5px;
    border-top: 3px solid navy;
    border-bottom: 3px solid navy;
    background-color: blue;

    text-shadow:
    -1px -1px 0 navy,
     0   -1px 0 navy,
     1px -1px 0 navy,
     1px  0   0 navy,
     1px  1px 0 navy,
     0    1px 0 navy,
    -1px  1px 0 navy,
    -1px  0   0 navy;
}
    #headerTitle {
        font-size: 40px;
        margin: 0 auto;
        padding: 0;
    }
        #connectHeaderFirst {
            color: var(--headerFirstColour);
        }

        #connectHeaderLast {
            color: var(--headerLastColour);
        }
    
    #soundIcon {
        position: absolute;
        
        margin: 0;
        right: 8px;
        color: white;
        cursor: pointer;
    }

.collapserContent {
    display: flex;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    
    width: 0px;
    height: 670px;
    bottom: 15px;
    z-index: 1;
    
    background-color: rgb(235, 235, 235);
    overflow: hidden; /* Disable horizontal scroll */
    transition: 0.5s; 
    box-sizing: border-box; /* Disable resizing of element when padding is changed */
}
    #colourContent {
        left: 0;
    }

    #configContent {
        right: 0;
        padding-bottom: 24px;
    }

.collapser {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    width: 70px;
    height: 670px;
    bottom: 15px;
    z-index: 1;

    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
    #colourCollapser {
        left: 0;
        transition: margin-left 0.5s;
    }
        #colourCollapser_txt {
            writing-mode: tb-rl;
            transform: rotate(-180deg);
        }

    #configCollapser {
        right: 0;
        transition: margin-right 0.5s;
    }
        #configCollapser_txt {
            writing-mode: vertical-lr
        }

    .topArrow {
        margin-top: 20px;
        transition: all 0.5s linear;
    }

    .bottomArrow {
        margin-bottom: 20px;
        transition: all 0.5s linear;
    }

    .rotateLeft {
        transform:rotate(-180deg);
    }

    .rotateRight {
        transform:rotate(180deg);
    }

    .rotateRightOp {
        transform:rotate(-180deg);
    }

    .rotateLeftOp {
        transform:rotate(180deg);
    }

#gameCont_1{
    display: inline-block;
    position: relative;
    margin: auto;
}
    #gameCont_2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        #playerColour_mainCont {
            display: inline-block;
        }
                .playerColour_subCont {
                    display: flex;
                    align-items: center;

                    margin-top: 10px;
                    margin-bottom: 10px;
                }

                .clockIcon {
                    display: none;
                    position: absolute;

                    margin-left: -87px; /* Place outside bounds of parent div */
                }

                .countdown {
                    display: inline-block;
                    position: absolute;

                    margin-left: -55px; /* Place outside bounds of parent div */
                    font-size: 24px;
                }

                .blinkCountdown {
                    animation: blinkCountdown 0.5s linear;
                    animation-iteration-count: 30;
                }
                    @keyframes blinkCountdown {
                        50% {
                        color: red;
                        }
                    }

                .blinkTile {
                    animation: blinkTile 0.5s linear;
                    animation-iteration-count: 30;
                }
                    @keyframes blinkTile {
                        50% {
                        border-color: var(--blinkBorderColour);
                        }
                    }

                .playerColourNum {
                    display: inline-block;
                    margin: auto;
                }

                .playerColourChoice {
                    display: inline-block;

                    width:  30px;
                    height: 30px;
                    margin-left: 7px;
                
                    border-radius: 50%;
                    border: 2px solid rgb(17, 17, 22);
                    box-sizing: border-box;
                }
                    #PCC_1 {
                        background-color: red;
                        box-shadow: inset 0px 0px 2px black;
                    }

                    #PCC_2 {
                        background-color: yellow;
                        box-shadow: inset 0px 0px 2px black;
                    }

        #winner {
            display: inline-block;
        }
            .animateText {
                background-image: linear-gradient(
                    -225deg,
                    black 0%,
                    black 29%,
                    var(--winnerTextColour) 30%,
                    var(--winnerTextColour) 35%,
                    black 100%
                );
                background-size: auto auto;
                background-clip: border-box;
                background-size: 200% auto;
                color: #fff;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                animation: textclip 2s linear infinite;
            }
                @keyframes textclip {
                    to {
                        background-position: 200% center;
                    }
                }

        .resetElement {
            width:  110px;
            height: 50px;
            margin-left: 27.07px;
            font-size: 25px;
            font-weight: 550;
            padding: 0;
            cursor: default;
        }
            #resetPlaceHolder { /* For aligning colour swap text */
                display: inline-block;
            }

            #resetButton {
                display: none;
                cursor: pointer;
            }

    .hoverCont {
        display: flex;
        flex-wrap: wrap;
        position: absolute;

        width: 630px;
        height: 90px;
        margin: 0;
        bottom: 540px;
        border: 10px solid transparent;
        border-top-width: 0;
        border-bottom-width: 0;
        pointer-events: none;
    }
        #hoverCont_DC { /* Doubles column */
            bottom: 630px;
        }

        .hoverTile {
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: column;
            font-size: 35px;
            font-weight: 550;
        }

    #board_html {
        display: flex;
        flex-wrap: wrap;

        width:  630px;
        height: 540px;
    
        background-color: blue;
        border: 10px solid navy;
        box-shadow: 0px 0px 7px black;
    }
        .tile {
        width:  80px;
        height: 80px;
        margin: 5px;

        background-color: white;
        border-radius: 50%;
        border: 5px solid navy;
        box-sizing: border-box;
        box-shadow: inset 0px 0px 5px #000000;
        }

        .piece_1 {
            background-color: red;
            box-shadow: inset 0px 0px 5px #000000;
        }

        .piece_2 {
            background-color: yellow;
            box-shadow: inset 0px 0px 5px #000000;
        }
  

